/* You can add global styles to this file, and also import other style files */
:root {
  --font-base: "Open Sans", sans-serif;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(255, 0, 0, 0.9);
}
